.Fin{
    color: blue;
    font-weight: bold;
}
.Pay{
    color:#FFE900;
    font-weight: bold;
}
body{
    padding: 0px;
    margin: 0px; 
}
.pic{
   overflow: hidden;
   margin: 0px auto; 
   position: relative;
   max-width: 100%;
   height: auto;
}
.intro{
    font-weight: bold;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 20%; width: 100%;
}
.word{
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 1rem;
}
.kakao{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 60%;
    width: 50%;
}
.background{
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 1rem;
    background:white; opacity: 0.5;
}